---
layout: bare
name: welcome
menu_text: Home
menu_order: 0
lang: en
html_title: Welcome
permalink: /
---
<div id="main" class="clearfix" role="main">
    {% include homeslideshow.html %}
    <div id="searchhome">
        {% include search.html %}
    </div>
    <article class="col-sm-12 clearfix" role="article">
        <div class="row">&nbsp;</div>
        <section class="row post_content">
            <div class="col-sm-12">
                <p>We welcome you to our company&#8217;s website.</p>
                <p style="text-align: left;">Our main and primary objective is to promote and export Greek products abroad.</p>
                <p style="text-align: left;">Therefore our products catalogue consists of the finest and essential complements of the Mediterranean diet, Extra Virgin Olive Oil, our exceptional wine flavors, Harah wines and our G old honey.</p>
                <p style="text-align: left;">Feel free and take a look on our products and download our online catalogues from the products section.</p>
                <p style="text-align: left;">
                    For more informations please fill the form in the <a href="{{ site.url }}/contact/">contact us</a> section.
                </p>
            </div>
        </section>
    </article>
</div>