<footer role="contentinfo" class="pageFooter">
    <div id="inner-footer" class="container clearfix">

        <div class="pageHover">
            <p>&nbsp;</p>
        </div> <nav class="clearfix"> </nav>
        <div class="row site-tag">
            <p class="col-xs-6 name">&copy; {{site.t[page.lang].company}}</p>
            <p class="col-xs-6 description">{{site.t[page.lang].moto}}</p>
        </div>
		{% if site.shareaholic_app_id %}
		<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='{{site.shareaholic_app_id}}'></div>
		{% endif %}
        <div class="leftShadow"></div>
        <div class="rightShadow"></div>
    </div>
</footer>