{% assign actionUrl = "/search/" %}
{% if page.lang != "en" %}
{% capture actionUrl %}/{{ page.lang }}{{ actionUrl }}{% endcapture %}
{% endif %}
<!-- Custom search box using http://stackoverflow.com/questions/2174187/google-custom-search-with-custom-search-box-and-button -->
<form action="{{actionUrl}}" method="get" class="form-inline">
    <fieldset>
        <div class="input-group">
            <input type="text" name="q" id="search" placeholder="{{site.t[page.lang].search}}" value="" class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn searchbg"></button>
            </span>
        </div>
    </fieldset>
</form>